<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859967910399-p8ts9j0fv80gcf9psnot42oq1uljptho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859967910399-p8ts9j0fv80gcf9psnot42oq1uljptho</string>
	<key>API_KEY</key>
	<string>AIzaSyAX0xoaLj8VxiLYik_7vJObvfGGlqnAcC4</string>
	<key>GCM_SENDER_ID</key>
	<string>859967910399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.danxi-dev.danxi</string>
	<key>PROJECT_ID</key>
	<string>danxi-e765c</string>
	<key>STORAGE_BUCKET</key>
	<string>danxi-e765c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859967910399:ios:814791911ad92e9c5a37ca</string>
</dict>
</plist>