name: CI-iOS

on:
  push:
    tags:        
      - '*'
  workflow_dispatch:

jobs:
  Automated-CI-iOS:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Use Latest Xcode
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: latest
          beta: false
      
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.0'
          channel: 'stable'
          
      - name: Prepare Flutter Dependencies
        run: |
          flutter pub get
          flutter pub global activate intl_utils
          flutter pub global run intl_utils:generate
          
      - name: Bump Build Number
        run: |
          flutter pub global activate cider
          flutter pub global run cider bump build
      
      - name: Get Flutter Version
        id: get_flutter_version
        uses: its404/get-flutter-version@v1.0.0
      
      - name: Update Xcode Build Number
        uses: yanamura/ios-bump-version@v1
        with:
          version: ${{ steps.get_flutter_version.outputs.version_number }}
          build-number: ${{ steps.get_flutter_version.outputs.build_number }}
          project-path: ios
      
      - name: Commit Build Number Update
        run: |
          git add .
          git commit -m "[GitHub Action] Bump Build Number"

      - name: Import Keys
        run: |
          echo -n "${{ secrets.MATCH_SSH_KEY_BASE64 }}" | base64 -d -o $HOME/.ssh/id_rsa
          chmod 400 $HOME/.ssh/id_rsa
          export MATCH_GIT_PRIVATE_KEY=$HOME/.ssh/id_rsa

      - name: Import Secrets
        uses: actions/checkout@v2
        with:
          repository: DanXi-Dev/DanXi-secrets
          path: secrets
          ssh-key: ${{ secrets.SECRETS_SSH_KEY }}
      
      - name: Populate Secrets
        run: |
          mv -f secrets/Secret.dart lib/common/Secret.dart
          mv -f secrets/sksl_default.json CI/sksl_default.json

      - name: Configure Xcode
        run: flutter build ios --release --config-only #--bundle-sksl-path CI/sksl_default.json

      - name: Fastlane Action
        uses: maierj/fastlane-action@v2.1.0
        with:
          lane: 'beta'
          subdirectory: 'ios'
          skip-tracking: true
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        
      - uses: actions/checkout@v2
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        
      - name: Push Build Number Update
        run: git push origin main
