name: Dart

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Xcode Select
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: latest
          beta: false
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.3'
          channel: 'stable'
      - run: flutter pub get
        #Testing is still useless at the moment.
        #- run: flutter test
        # iOS build is not implemented yet.
      - run: flutter pub global activate intl_utils 2.4.0
      - run: flutter pub global run intl_utils:generate
      - run: flutter pub run build_runner build --delete-conflicting-outputs
        # Use debug profile to sign with no specific keystore
      - run: flutter build apk --debug


